@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900|Raleway|Source+Sans+Pro&display=swap');

$fonts: (
    hd: 'Montserrat',
    hd2: 'Raleway',
    txt: 'Source Sans Pro'
);

@function font($font-name){
    @return map-get($fonts, $font-name);
}