$colors: (
    bg: rgba(53, 185, 218,0.70),
    ol: rgba(53, 185, 218, 0.795),
    ol-black: rgba(0, 0, 0, 0.85),
    bg-grey: rgba(50, 50, 50, 0.50),
    txt: #fff,
    hover: #ffffff80,
    box-shadow: rgba(23, 96, 114, 0.7),
);

@function color($color-name){
    @return map-get($colors, $color-name)
}