@mixin w1200 {
    @media only screen and (max-width: 1200px) {
        @content;
    }
}

@mixin  w800 {
    @media only screen and (max-width: 800px) {
        @content;
    }
}

@mixin  w600 {
    @media only screen and (max-width: 600px){
        @content;
    }
}

@mixin h600 {
    @media only screen and (max-height: 600px) {
        @content;
    }
}