@import "palette";
@import 'responsive';

.details {
  padding: 20px;

  img {
    margin-left: 8%;
    height: auto;
    width: 180px;
    border-radius: 10%;
    border: 5px solid #fff;
    margin-bottom: 20px;

    &:hover {
      box-shadow: 0 0 10px 1px color(hover);
    }
    @include w1200{
      margin-top: 10px;
      margin-left: 18%;
      margin-bottom: 0px;
      width: 120px;
      border: 2px solid #fff;
    }
  }

  .info {
    p {
      span {
        font-weight: bolder;
        font-size: 18px;
        display: inline-block;
        margin-right: 20px;
        text-align: right;

        @include w1200{
          font-size: 15px;
          margin-right: 14px;
        }
      }

      font-size: 15px;
      @include w1200{
        font-size: 14px;
      }
    }
  }
}
