@import 'palette';

.round{
    display: inline-block;
    border-radius: 50%;
    border: 3px solid #fff;
    height: 42px;
    width: 42px;
    background: color(bg);
    transition: 100ms;
    // background: url('../assets/img/menu.svg') no-repeat center /21px;
}