@import 'palette';
@import 'fonts';

body, root {
  margin: 0;
  padding: 0;
  font-family: font(txt);
  color: color(txt);
}

a{
  text-decoration: none;

  &:hover{
    text-decoration: none;
  }
}

li{
  list-style: none;
}