@import 'keyframes';

.news {
    position: fixed;
    top: 15px;
    right: 0;
    width: 90%;
    // height: 20px;
	// line-height: 50px;
    // background-color: rgba(0,0,0,0.75);
    // color: #000;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;

    p {
        display: inline-block;
        padding-left: 100%;
        animation: marquee 1000s linear infinite;
    }
}