@import 'palette';

.vid_cover {
  height: 100vh;
  display: flex;
}

.fullscreen-video-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -9;
}

.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

.vid-overlay1 {
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  background: color(ol);
  z-index: -8;
}
