@import 'palette';
@import 'responsive';

.pnl{
    position: fixed;
    right: 70px;
    width: 35%;
    height: 100vh;
    padding: 20px 30px;
    background: color(bg);
    // box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px -1px rgba(0,0,0,0);
    // box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 11px 8px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 15px 8px color(box-shadow);
    overflow: scroll;

    @include w1200{
        width: 33%;
        right: 40px;
        font-size: 14px;
    }

    @include w600{
        bottom: 0;
        right: 0;
        left: 0;
        width: 83vw;
        height: 35%;
    }

    .pnl_clse{
        float: right;
    }
}