@import "palette";
@import "responsive";
@import 'fonts';

.win_projects{
    h1{
        font-family: font(hd);
    }
    .websites{
        .gallary{
            display: grid;
            // grid-template-columns: 33.3% 33.3% 33.3%;
            grid-template-columns: 50% 50%;
    
            .pro{
                width: 180px;
                height: auto;
                margin: 10px;
    
                img{
                    width: 100%;
    
                    &:hover{
                        box-shadow: 0 0 10px 1px color(hover);
                    }
                }
    
                p{
                    text-align: center;
                }
            }
        }
    }
}

.prodesc{
    .pinfo{
        p{
            .bold{
                font-weight: bold;
            }
        }
    }
    .ptech {
        margin-top: 50px;
        .langusd{
            display: grid;
            grid-template-columns: 20% 20% 20% 20% 20%;
    
            .lang{
                width: 64px;
                height: auto;
                text-align: center;
    
                p{
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}