@import 'palette';
@import 'fonts';

.status{
    font-family: font(hd);
    position: fixed;
    margin: 0 30px;
    width: 20vh;
    // top: 10px;
    // left: 10px;
    font-size: 24px;

    .time p{
        position: absolute;
        top: 0;
        font-weight: 900;
    }

    .weather{
        position: absolute;
        top: 32px;
        img{
            // top: 28px;
            left: 20px;
        }

        p{
            position: absolute;
            font-weight: 700;
            top: 50px;
            left: 10px;
        }
    }
}