@import 'palette';
@import 'responsive';

.win {
    position: fixed;
    top: 15vh;
    left: 30vh;
    padding: 10px;
    background: color(bg);
    // box-shadow: 5px 5px 15px -1px #000000;
    // box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px -1px rgba(0,0,0,0);
    box-shadow: 0px 0px 15px 8px color(box-shadow);
  
    .win_clse {
      float: right;
    }

    @include w1200{
      left: 20vh;
    }
}